{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: bisque;
}
a{
    text-decoration: none;
}
header{
    background-color: rgb(230, 150,53);
    padding: 10px 0;   
}
    
.nav-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color:bisque
    text-decoration: 0.3s;
}
nav .logo a:hover{
    color:black
    
}
ul{
    display: flex;
    list-style: none;
    align-items: none;
    gap: 1rem;
    transition: left 0.3s;
    top: 85px;
}   
ul li a:hover{
    margin-left: 20px;
    
    
}
ul li{
    padding: 0.5rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: aliceblue;
    transition: color 0.3s;

}
ul li:hover{
    color: black;
}
.section{
    background-color: black;
}
.section-container{
    min-height: 30hv;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4rem;
    text-align: center;
 }   
 .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
 }   
 .subtitle {
    letter-spacing: 1px;
    color: rgb(69, 44,8);
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-family: 'Times New Roman', Times, serif;

 }         
 .title {
    font-size: 2.rem;
    font-weight: 300;
    line-height: 3rem;
    color: black;
    margin-bottom: 1rem;


 }      
 .description{
    line-height: 1.5rem;
    color: black;
    margin-bottom: 2rem;

 }
 .section-btns{
   display: flex;
   gap: 1rem;

 }
 .section-btns button{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
 } 
 .hire-me{
    background-color: rgb(69,44,8);
    color: aliceblue;
 }
 .hire-me:hover{
    background-color: rgba(0,0,255,0.219);
 }
 .portfolio{
    background-color: rgb(69,44,8);
    color: aliceblue
 }
 .image{
    display: grid;
 }
 .image img{
    width: 250px;
    height: 250px;
    border-radius: 20%;
    object-fit: cover;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-left: 40px;
 }
 .footer-container{
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    width: 100px;
    padding: 10px;
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;
 }
